/* i cant do css */
.bg-container {
  background-image: url("../img/home-background.jpg");
  filter: grayscale(100%) contrast(120%);
  background-size: cover;
  background-position: 50%;
  position: absolute;
  opacity: 0.5;
  mix-blend-mode: overlay;
  margin: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

body {
  overflow: hidden;
  margin: 0;
  background-color: oklch(14.5% 0 0);
  font-family: monospace;
  font-size: 0.9rem;
  letter-spacing: 1px;

  /* -ms-overflow-style: none; IE and Edge */
  /* scrollbar-width: none; Firefox */
}

/* body::-webkit-scrollbar {
  display: none;
} */

* {
  color: #b3b3b39d;
}

.center {
  margin: auto;
  /* width: 100%; */
  /* border: 1px solid rgb(255, 255, 255); */
  /* padding: 50px; */
}

.centerFull {
  margin: auto;
  top: 50%;
  position: absolute;
  left: 50%;
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  /* width: 50%; */
  border: 1px solid rgb(255, 255, 255);
  padding: 50px;
}

.scary-ghost {
  stroke: rgb(255, 255, 255);
}

.icon-container {
  /* margin: 0 10px 0 0; */
  margin: auto;
  /* min-width: 75%; */
  padding-inline: 5em;
}

.trail {
  position: absolute;
  top: 0;
  left: 0;
  /* SAM SO SILLY :3 */
  color: #ff69b4;
  font-size: 24px;
  font-family: monospace;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  -moz-user-select: none;
  transition: color 0.5s ease;
  opacity: 0.5;
}

.disableshit {
  pointer-events: none;
}

a {
  text-decoration: none;
}

.ref-table {
  padding: 20px;
  /* margin: 0; */
  /* width: 100%; */
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  overflow-x: hidden;
  height: auto;
  word-wrap: break-word;
}

th,
td {
  border: 1px solid rgb(255, 255, 255);
  padding: 8px 10px;
  height: auto;
  text-align: center;
  white-space: nowrap;
  word-wrap: break-word;
}

tr {
  background: rgba(0, 0, 0, 0.6);
  height: auto;
  width: 100vw;
  word-wrap: break-word;
}

th:empty,
td:empty {
  display: none;
}

.webring-container {
  /* margin: 0 45%; */
  width: 100%;
  position: fixed;
  display: grid;
  justify-items: center;
  bottom: 2%;
}



.disc-profile {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  /* width: max-content; */
  padding: 0px 15px 0px 15px;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-items: center;
}
.disc-profile-body {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-items: center;
}
.disc-profile-avatar {
  border-radius: 50%;
  padding: 10px;
}
.disc-profile-display {
  margin-bottom: 2px;
}

.disc-spotify {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0px 5px 0px;
}
.disc-spotify-main {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.disc-spotify-name {
}
.disc-spotify-artist {
  /* padding-left: 42px; */
}
.disc-spotify-img {
  border-radius: 50%;
}

.twitter-button {
  position: absolute;
  /* float: right; */
  top: 20px;
  right: 25px;
}