/* i cant do css */
.bg-container {
  background-image: url("../img/bg.jpg");
  filter: grayscale(100%) contrast(120%);
  background-size: cover;
  background-position: 50%;
  position: absolute;
  /* opacity: 0.5; */
  /* mix-blend-mode: overlay; */
  z-index: -1;
  margin: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

body {
  overflow: hidden;
  margin: 0;
  background-color: oklch(14.5% 0 0);
  font-family: monospace;
  font-size: 0.9rem;
  letter-spacing: 1px;

  /* -ms-overflow-style: none; IE and Edge */
  /* scrollbar-width: none; Firefox */
}

textarea, textarea:focus {
  height: 60px;
  height: 60px;
  background: none;
  outline: none;
}

/* body::-webkit-scrollbar {
  display: none;
} */

* {
  color: #b3b3b39d;
}

.center {
  margin: auto;
  /* width: 100%; */
  /* border: 1px solid rgb(255, 255, 255); */
  /* padding: 50px; */
}

.centerFull {
  margin: auto auto;
  top: 50%;
  position: absolute;
  left: 50%;
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  /* width: 50%; */
}

.profile {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  margin: auto;
}
/* .activity-container {
  margin: 15px 0px;
  border: 1px solid rgb(255, 255, 255) */
/* } */

.table-container {
  border: 1px solid rgb(255, 255, 255);
  padding: 50px;
}

.profile-container {
  float: right;
  z-index: 3;
}

.main {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  width: 75%;
  height: 65%;
  border: 1px solid rgb(255, 255, 255);
  padding: 50px;
  z-index: 1;
  display: flex;
  overflow: scroll;
}
@media (max-width: 1000px) {
  .main {
    flex-direction: column;
  }
}

.ascii {
  font-family: monospace;
  white-space: pre;
  width:min-content;
  text-align: left;
  line-height: 1.15;
}

.icon-container {
  /* margin: 0 10px 0 0; */
  margin: auto;
  /* min-width: 75%; */
  padding-inline: 5em;
}

.trail {
  position: absolute;
  top: 0;
  left: 0;
  /* SAM SO SILLY :3 */
  color: #ff69b4;
  font-size: 24px;
  font-family: monospace;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  -moz-user-select: none;
  transition: color 0.5s ease;
  opacity: 0.5;
}

.disableshit {
  pointer-events: none;
}

a {
  text-decoration: none;
}

.ref-table {
  padding: 20px;
  /* margin: 0; */
  /* width: 100%; */
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  overflow-x: hidden;
  height: auto;
  word-wrap: break-word;
}

th,
td {
  border: 1px solid rgb(255, 255, 255);
  padding: 8px 10px;
  height: auto;
  text-align: center;
  white-space: nowrap;
  word-wrap: break-word;
}

tr {
  background: rgba(0, 0, 0, 0.6);
  height: auto;
  width: 100vw;
  word-wrap: break-word;
}

th:empty,
td:empty {
  display: none;
}

.webring-container {
  /* margin: 0 45%; */
  /* width: 100%; */
  /* position: fixed; */
  display: grid;
  justify-items: center;
  /* bottom: 2%; */
}



.disc-profile {
  background-color: rgba(0, 0, 0, 0.5);
  /* backdrop-filter: blur(5px); */
  /* width: max-content; */
  padding: 0px 5px;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-items: center;
  z-index: 2;
  position: relative;
}
.disc-profile-body {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-items: center;
}
.disc-profile img {
  border-radius: 50%;
  padding: 10px;
}
.disc-profile h2 {
  margin-bottom: 2px;
}

.disc-spotify {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0px 5px 0px;
  max-width: 250px;
  max-height: 50px;
  /* text-wrap: wrap; */
  overflow: hidden; 
}
.disc-spotify-main {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.disc-spotify-name {
}
.disc-spotify-artist {
  /* padding-left: 42px; */
}
.disc-spotify img {
  border-radius: 50%;
  padding: 1px;
}

.disc-profile-main {
}
.twitter-button {
  position: absolute;
  /* float: right; */
  top: 5px;
  right: 5px;
}

.disc-activity {
  margin: 15px 0px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.5);
  /* backdrop-filter: blur(5px); */
  /* width: max-content; */
  padding: 4px 5px;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-items: center;
  z-index: 2;
}
.disc-activity-body {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-items: center;
}
.disc-activity-main {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-items: center;
  margin: 10px;
}
.disc-activity-icons {
  position: relative;
  display: inline;
}
.disc-activity img {
  /* padding: 10px 0px; */
}
.disc-activity-small {
  border-radius: 50%;
  padding: 0px;
  position: absolute;
  bottom: -5px;
  right: -13px;
  border: 3px solid #ffffff22;
  /* border: 3px solid #8080ffaa; */
  /* bottom: 4px;
  right: 2px */
}
.disc-activity h2 {
  margin: 5px 0px;
}
.disc-activity h3 {
  margin: 2px;
}

.tab-selection {
  width: 100%;
}

.ring {
    margin: auto;
    /* margin-top: 43.6%; */
    /* margin-top: 835px; */
    text-align: center;
    color: #666;
}

.ring a { color: #888; }
.ring a:hover { color: #d1aad1; }

.tab {
  display: none;
  border: 1px solid;
  padding: 20px;
  margin-top: 20px;
  height: 75%;
}

.project {
  margin-bottom: 10px;
  border: 1px solid;
  width: fit-content;
  padding: 10px;
  width: 97%;
  /* height: 95%; */
  /* width: 30%; */
}
.project h2 { display: inline; margin-top: 0px; }

#projects-tab {
  /* display: flex; */
  overflow: scroll;
}

#photos-tab {
  /* display: flex; */
  overflow: scroll;
}
#photos-tab img { border: 1px solid #ffffff; height: auto; width: 24%; }
#photos-tab video { border: 1px solid #ffffff; height: auto; width: 24%; }